<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>CSC517 Project 1</h1>
<h1>Hello <%= @user.name %></h1>
<p>
  Welcome to storyboards!
</p>
</body>
</html>