<% provide(:title, 'All stories') %>
<h1>All storys</h1>

<ul class="users">
  <% @stories.each do |story| %>
      <li>

        <%= link_to story.title, story %>

        <% if current_user.admin?%>
            | <%= link_to "delete", story, method: :delete,
                          data: {confirm: "You sure?"} %>
        <% end %>
      </li>
  <% end %>
</ul>