<% provide(:title, 'All stories') %>
<h1>All storys</h1>

<ul class="stories">
  <% @stories.each do |story| %>
      <li>
        <%= gravatar_for story, size: 50 %>

        <%= link_to story.title, story %>

        <% if current_user.admin? && !current_user?(user) && !user.admin?%>
            | <%= link_to "delete", story, method: :delete,
                          data: {confirm: "You sure?"} %>
        <% end %>
      </li>
  <% end %>
</ul>